.BoxColor {
  display: inline-block;
  width: 20%;
  height: 25%;
  margin-bottom: -0.2rem;
  cursor: pointer;
  position: relative;
}

.copy-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7rem 1.4rem;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1.6rem;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  opacity: 0;
}

.BoxColor:hover .copy-btn {
  opacity: 1;
}

.box-color_text,
.see-more {
  position: absolute;
  bottom: 0;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.box-color_text {
  left: 0;
}

.see-more {
  right: 0;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.copy-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0);
  z-index: 0;
}

.copy-overlay.show {
  transform: scale(50);
  z-index: 10; /* child of .BoxColor */
}

.copy-text {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-delay: 0.1s;
  transform: scale(0);
  z-index: 0;
}

.copy-text.show {
  transform: scale(1);
  z-index: 20; /* child of .BoxColor */
}

.copy-text h2 {
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.3);
  font-size: 6.2rem;
  color: #fff;
  margin-bottom: 2rem;
}

.copy-text p {
  font-size: 1.6rem;
}
